<template>
  <div class="availableShips">
    <h3>Корабли</h3>
    <p>Расставляйте корабли</p>
    <div v-for="ship in shipsModel" :key="ship.id" class="shipContainer" :class="thisShipEditing(ship.id)">
      <ShipComponent :shipModel="ship"/>
      <span class="shipDescription">{{ getShipDescription(ship.type) }}</span>
      <ButtonComponent :text="'Разместить'" @buttonClick="placeShip(ship.id)" v-if="availableToEdit(ship.id)" :type="'green'"/>
      <ButtonComponent :text="'Отменить'" @buttonClick="cancelEditing" :type="'red'" v-if="currentEditingShip && ship.id == currentEditingShip.id"/>
    </div>
    <ButtonComponent :text="Готово" v-if="allChecked"/>
  </div>
</template>

<script>
import ButtonComponent from '@/components/UiElements/ButtonComponent.vue';
import ShipComponent from '@/components/Fight/ShipComponent.vue';

export default {
  name: 'AvailableShips',
  components: {
    ButtonComponent,
    ShipComponent
  },
  
  data(){
    return{
      allChecked: false,
      
    }
  },

  props: {
    shipsModel: Array,
    currentEditingShip: Object
  },

  methods:{
    getText(){

    },
    placeShip(id){
      this.$emit('selectShipToPlace', id)
    },
    
    cancelEditing(){
      this.$emit('cancelEditingPlacement');
    },
    thisShipEditing(id){
      if(this.currentEditingShip && this.currentEditingShip.id == id) return 'editingShip';
      return '';
    },

    
  },

  computed:{
    getShipDescription(){
      return type=>{
        console.log('description');
        if(type =='triple') return 'Фрегат';
        if(type =='double') return 'Катер';
        return 'Шлюпка'
      }
    },
    availableToEdit(){
      return id=>{
        if(this.currentEditingShip) return false;
        if(id != undefined) {
          let result = false;
          let array = this.shipsModel?.filter(e=>e.id == id);
          if(array && array.length > 0){
            array[0].cell.forEach(e => {
              if(e.X === -1 && e.Y === -1){
                result = true;
              }
            });
          }
          return result;
        }
        return false;
      }
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.editingShip{
  border: 1px solid green;
  border-radius: 4px;
}
.availableShips{
  width: 50%;
}
.shipContainer{
  display: flex;
  justify-content: start;
  align-items: center;
}
.shipDescription{
  width: 70px;
}
</style>
