<template>
  <div class="borderCell">
    {{ literal }}
  </div>
</template>

<script>
export default {
  name: 'SeaCell',
  props: {
    literal: String    
  },
  computed:{
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.borderCell{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43db50;
  font-size: 18px;
  font-weight: 700;
}


</style>