<template>
  <div class="sea">
    <BorderCell class="celZ" :literal="'*'"/>
    <BorderCell class="celA" :literal="'A'"/>
    <BorderCell class="celB" :literal="'B'"/>
    <BorderCell class="celC" :literal="'C'"/>
    <BorderCell class="celD" :literal="'D'"/>
    <BorderCell class="celE" :literal="'E'"/>
    <BorderCell class="celF" :literal="'F'"/>
    <BorderCell class="celG" :literal="'G'"/>
    <BorderCell class="celZ0" :literal="'*'"/>
    <BorderCell class="cel1" :literal="'1'"/>
    <div class="seaField sea0">
      <SeaCell v-for="model in inputFieldModel" :key="model" :cell="model" @click="clickCell(model)"/>
    </div>
    <BorderCell class="cel11" :literal="'1'"/>
    <BorderCell class="cel2" :literal="'2'"/>
    <BorderCell class="cel21" :literal="'2'"/>
    <BorderCell class="cel3" :literal="'3'"/>
    <BorderCell class="cel31" :literal="'3'"/>
    <BorderCell class="cel4" :literal="'4'"/>
    <BorderCell class="cel41" :literal="'4'"/>
    <BorderCell class="cel5" :literal="'5'"/>
    <BorderCell class="cel51" :literal="'5'"/>
    <BorderCell class="cel6" :literal="'6'"/>
    <BorderCell class="cel61" :literal="'6'"/>
    <BorderCell class="cel7" :literal="'7'"/>
    <BorderCell class="cel71" :literal="'7'"/>

    <BorderCell class="celZ1" :literal="'*'"/>
    <BorderCell class="celA1" :literal="'A'"/>
    <BorderCell class="celB1" :literal="'B'"/>
    <BorderCell class="celC1" :literal="'C'"/>
    <BorderCell class="celD1" :literal="'D'"/>
    <BorderCell class="celE1" :literal="'E'"/>
    <BorderCell class="celF1" :literal="'F'"/>
    <BorderCell class="celG1" :literal="'G'"/>
    <BorderCell class="celZ2" :literal="'*'"/>
  </div>
</template>

<script>

import SeaCell from '@/components/Fight/SeaCell.vue';
import BorderCell from '@/components/Fight/BorderCell'

export default {
  name: 'FieldComponent',
  components:{
    SeaCell,
    BorderCell,
  },
  data() {
    return{
      fieldModel: [],
      fieldHeight: Number,
      fieldWidth: Number,
    }
  },
  props: {
    inputFieldModel: Array,
    mode: String,
  },
  mounted(){
      console.log('x1',this.inputFieldModel);
      this.fieldModel = this.inputFieldModel;
      this.fieldHeight = 7;
      this.fieldWidth = 7;
  },

  methods:{
    clickCell(cell){
      this.$emit('onCellClick', cell.X, cell.Y);
    }
  },

  computed:{
    IsFight(){
      return this.mode == 'fight' ? true : false;
    },
    IsPrepare(){
      return this.mode == 'prepare' ? true : false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sea{
  display: grid;
  grid-template-areas: 
  "sa sb sc sd se sf sg sh sa0"
  "sj k k k k k k k sj1"
  "sl k k k k k k k sl1"
  "sm k k k k k k k sm1"
  "sn k k k k k k k sn1"
  "so k k k k k k k so1"
  "sp k k k k k k k sp1"
  "sr k k k k k k k sr1"
  "sa1 sb1 sc1 sd1 se1 sf1 sg1 sh1 sa2"
  ;
  grid-template-rows: repeat(9, 32px);
  grid-template-columns: repeat(9, 32fr);
  width: 288px;
  margin: 48px;
}
.seaField{
  width: 224px;
  height: 224px;
  display: flex;
  flex-wrap: wrap;
}

.sea0{ grid-area: k; }

.celZ{ grid-area: sa; }
.celA{ grid-area: sb; }
.celB{ grid-area: sc; }
.celC{ grid-area: sd; }
.celD{ grid-area: se; }
.celE{ grid-area: sf; }
.celF{ grid-area: sg; }
.celG{ grid-area: sh; }
.celZ0{ grid-area: sa0; }

.cel1{ grid-area: sj; }
.cel2{ grid-area: sl; }
.cel3{ grid-area: sm; }
.cel4{ grid-area: sn; }
.cel5{ grid-area: so; }
.cel6{ grid-area: sp; }
.cel7{ grid-area: sr; }

.cel11{ grid-area: sj1; }
.cel21{ grid-area: sl1; }
.cel31{ grid-area: sm1; }
.cel41{ grid-area: sn1; }
.cel51{ grid-area: so1; }
.cel61{ grid-area: sp1; }
.cel71{ grid-area: sr1; }

.celZ1{ grid-area: sa1; }
.celA1{ grid-area: sb1; }
.celB1{ grid-area: sc1; }
.celC1{ grid-area: sd1; }
.celD1{ grid-area: se1; }
.celE1{ grid-area: sf1; }
.celF1{ grid-area: sg1; }
.celG1{ grid-area: sh1; }
.celZ2{ grid-area: sa2; }

</style>
