<template>
  <div class="hello">
    <h1>Размещение кораблей</h1>
    <div class="place_container">
      <FieldComponent @onCellClick="onPlaceShipEvent" :inputFieldModel="createdField" :mode="'prepare'" :fieldHeight="7" :fieldWidth="7"/>
      <AvailableShips :shipsModel="ships" :currentEditingShip="currentEditingShip" @selectShipToPlace="onSelectShipToPlace" @cancelEditingPlacement="onCancelEditingPlacement"/>
    </div>
    <div @click="info">Проверить</div>
    <ButtonComponent :text="'Готово'" @buttonClick="onReadyClick" :type="'green'" class="margins"/>
    <ButtonComponent :text="'Отчистить'" @buttonClick="onClearClick" :type="'red'" class="margins"/>
  </div>
</template>

<script>

import FieldComponent from '@/components/Fight/FieldComponent.vue';
import AvailableShips from '@/components/Fight/AvailableShips.vue';
import ButtonComponent from '@/components/UiElements/ButtonComponent';

export default {
  name: 'PlaceShip',
  components:{
    FieldComponent,
    AvailableShips,
    ButtonComponent
  },

  data(){
    return{
      createdField: [],
      fieldWidth: 7,
      fieldHeight: 7,
      ships:[],
      currentEditingShip: null,
    }
  },

  props: {
  },

  mounted(){
    this.recreateDatainit();
  },

  methods:{
    info(){
      console.log('INFO', this.currentEditingShip, this.ships, this.createdField);
    },
    
    recreateDatainit(){
      this.createdField = [];
      for(let width = 0; width < this.fieldWidth; width++){
        for(let height = 0; height < this.fieldHeight; height++){
          this.createdField.push({X:height, Y:width , state: 'empty'});
        }
      }
      
      this.ships = [
        {type: 'triple', id:"A1", cell: [{X: -1, Y:-1, state: 'unbroken'}, {X: -1, Y:-1, state: 'unbroken'}, {X: -1, Y:-1, state: 'unbroken'}]},
        {type: 'double', id:"B1",cell: [{X: -1, Y:-1, state: 'unbroken'}, {X: -1, Y:-1, state: 'unbroken'}]},
        {type: 'double', id:"B2",cell: [{X: -1, Y:-1, state: 'unbroken'}, {X: -1, Y:-1, state: 'unbroken'}]},
        {type: 'single', id:"C1",cell: [{X: -1, Y:-1, state: 'unbroken'}]},
        {type: 'single', id:"C2",cell: [{X: -1, Y:-1, state: 'unbroken'}]},
        {type: 'single', id:"C3",cell: [{X: -1, Y:-1, state: 'unbroken'}]},
      ];

      this.currentEditingShip = null;
    },

    onPlaceShipEvent(Xcoord,Ycoord){
      
      if(!this.checkAvialabletyOfCell(Xcoord,Ycoord)) return;

      if(!this.currentEditingShip) return;
      
      // Сохраняем корабли
      let checked = false;
      this.currentEditingShip.cell.forEach(e => {
        if(!checked && e.X === -1 && e.Y === -1){
          checked = true;
          e.X = Xcoord;
          e.Y = Ycoord;
        }
      });

      if(this.currentEditingShip.cell.every(e => e.X !== -1 && e.Y !== -1)){
        this.saveShipToShipList();
        this.currentEditingShip = null;
      }

      // Сохраняем в поле эту ячейку как занятую кораблем
      this.createdField.forEach(e => {
        if(e.X == Xcoord && e.Y == Ycoord){
          e.state = 'ship';
        }
      });
    },

    checkAvialabletyOfCell(x,y){
      //Занято кораблем
      if(this.createdField.filter(e => e.X === x && e.Y === y)[0].state == 'ship') return false;

      // занятые кораблем клетки
      let selectedCells = this.currentEditingShip.cell.filter(e => e.X !== -1 && e.Y !== -1);
      if(selectedCells.length == 0){
        return true;
      } 
      if(selectedCells.length == 1){
        return this.getNearCellAllDirection(x,y);
      } 

      
      if(selectedCells.length > 1){
        return this.getNearCellOneDirection(x,y);
      } 
      return true;
    },

    getNearCellAllDirection(x,y){
      let shipCell = this.currentEditingShip.cell.filter(e => e.X !== -1 && e.Y !== -1)[0];
      return x === shipCell.X && y === shipCell.Y - 1 || x === shipCell.X && y === shipCell.Y + 1 || x === shipCell.X + 1 && y === shipCell.Y || x === shipCell.X - 1 && y === shipCell.Y;
    },

    getNearCellOneDirection(x,y){
      let cells = this.currentEditingShip.cell;
      let placed = cells.filter(e => e.X !== -1 && e.Y !== -1);
      
      // Учесть что корабль любой длины
      if(placed[0].X == placed[1].X){
        
        // вертикально
        placed = placed.sort((a,b) => {
          if(a.Y > b.Y) return 1;
          if(a.Y < b.Y) return -1;
          return 0;
        })

        if(x == placed[0].X && y == placed[0].Y - 1){
          return true;
        }

        if(x === placed[0].X && y === placed[placed.length - 1].Y + 1){
          return true;
        }

        return false;
      }
      else{
        // горизонтально
        placed = placed.sort((a,b) => {
          if(a.X > b.X) return 1;
          if(a.X < b.X) return -1;
          return 0;
        })

        if(y == placed[0].Y && x == placed[0].X - 1){
          return true;
        }

        if(y == placed[0].Y && x == placed[placed.length - 1].X + 1){
          return true;
        }

        return false;
      }
    },
    
    onSelectShipToPlace(shipId){
      if(this.currentEditingShip){
        this.saveShipToShipList();
      }
      this.currentEditingShip = this.ships.filter(e=>e.id == shipId)[0];
    },

    saveShipToShipList(){
      this.ships.forEach(e=>{
        if(e.id == this.currentEditingShip.id){
          e.cell = this.currentEditingShip.cell;
        }
      })
    },

    onCancelEditingPlacement(){
      this.currentEditingShip = null;
      if(this.currentEditingShip){
        this.saveShipToShipList();
      }
    },
     
    onReadyClick(){
      console.log('ready');
    },
    onClearClick(){
      this.recreateDatainit();
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.margins{
  margin: 8px;
}
.place_container{
  display: flex;
  justify-content: start;
  
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>