<template>
  <div :class="['cell', getBackground]">
    <div></div>
  </div>
</template>

<script>
export default {
  name: 'SeaCell',
  props: {
    cell: Object
  },
  computed:{
    getBackground(){
      if(this.cell.state === 'empty') return 'seaCell';
      if(this.cell.state === 'ship') return 'shipCell';
      return 'seaCell';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cell{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #78e2fa;
  border: 1px dotted #fff5;
  box-sizing: border-box;
  cursor: pointer;
}
.seaCell{
  background-color: #78e2fa;
}
.shipCell{
  background-color: rgb(114, 133, 136);
}

</style>
