<template>
  <div class="allShip">
    <div v-for="n in shipSize" :key="n" class="shipCell">
    </div>
  </div>
</template>

<script>

export default ({
  name: 'ShipComponent',
  props: {
    shipModel: Object,
  },
  methods:{
    
  },
  computed:{
    shipSize(){
      if(this.shipModel.type == 'triple') return 3;
      if(this.shipModel.type == 'double') return 2;
      if(this.shipModel.type == 'single') return 1;
      return 1;
    },
  }
})
</script>

<style scoped>
  .allShip{
    display: flex; 
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 6px;
    font-size: 20px;
    width: 84px; 
  }
  .shipCell{
    background-color: rgb(114, 133, 136);
    width: 24px;
    height: 24px;
  }
</style>