
<template>
  <button @click="btnAction" class="pf-button" :class="getStyle">
    {{text}}
  </button>
</template>

<script>

export default ({
  name: 'ButtonComponent',
  props: {
    text: String,
    type: String,
  },
  methods:{
    btnAction(){
      this.$emit('buttonClick');
    }
  },
  computed:{
    getStyle(){
      if(this.type == "red"){
        return "redButton";
      }
      if(this.type == "green"){
        return "greenButton";
      }
      return "default"
    }
  }
})
</script>

<style scoped>
  .pf-button{
    cursor: pointer;
    padding: 8px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
  }
  .pf-button:focus{
    border:none;
    outline: none;
  }
  .redButton{
    background-color: rgb(219, 14, 14);
  }
  .greenButton{
    background-color: rgb(14, 177, 49);
  }
  .default{
    background-color: rgb(173, 173, 173);
  }
</style>
