<template>
  <div class="">
    <LoginPage />
  </div>
</template>

<script>

import LoginPage from '@/components/Auth/LoginPage.vue'

export default ({
  name:'FightView',
  components: {
    LoginPage
  }
})
</script>