<template>
  <div class="">
    <PlaceShip />
  </div>
</template>

<script>

import PlaceShip from '@/components/Fight/PlaceShip.vue'

export default ({
  name:'FightView',
  components: {
    PlaceShip
  }
})
</script>
